body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #231F20;
}

a {
    color: #000;
    font-size: 14px;
}

#main {
    width: 100%;
}

#wrap {
    position: relative;
    margin: 0 auto;
    width: 1100px;
    height: 680px;
}

#text {
    width: 400px;
    height: 425px;
    left: 60px;
    top: 80px;
    position: absolute;
}

#code {
    display: none;
    font-size: 16px;
    line-height: 20px;
}

#clock-box {
    position: absolute;
    left: 60px;
    top: 550px;
    font-size: 28px;
    display: none;
}

#clock-box a {
    font-size: 28px;
    text-decoration: none;
}

#clock {
    margin-top: 12px;
}

#clock .digit {
    font-size: 40px;
}

#canvas {
    margin: 0 auto;
    width: 1100px;
    height: 680px;
}

#error {
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    display: none;
}

.hand {
    cursor: pointer;
}
